# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Native builds
ios/
android/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Admin dashboard
apps/admin/dist/
